#prices-table-container {
  margin-top: 100px;
}

#prices-table-container h2 {
  // text-align: center;
  padding-bottom: 10px;
}

#prices-table-container thead {
  background-color: black;
  color: white;
}