<div>
  <div id="home-banner">
    <span>Profesionali plaukų <br /> priežiūra Kaune</span>
  </div>
  <div class='black-line-wrapper'>
    <div class='col-xs-3'></div>
    <div class='col-xs-6 black-line'></div>
    <div class='col-xs-3'></div>
  </div>
  <h1 class="description-title">Lorem Ipsum</h1>
  <div class='black-line-wrapper' style="padding-top: 20px">
    <div class='col-xs-3'></div>
    <div class='col-xs-6 black-line'></div>
    <div class='col-xs-3'></div>
  </div>
  <div class="description-content col-xs-10 col-xs-offset-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mollis ante eu enim ornare congue. Phasellus id tempus est. Fusce hendrerit justo nunc, condimentum fringilla urna mollis nec. Morbi finibus est aliquam libero posuere efficitur. Morbi id ornare nisi. Phasellus sit amet suscipit felis, vitae sagittis tortor. Nam urna diam, porttitor at hendrerit eget, finibus eget massa. Nam eget varius dolor. Praesent libero turpis, finibus ut magna ut, porta dapibus lorem. Aliquam ultrices, elit eget finibus malesuada, mauris justo aliquam enim, at dictum lectus lacus sed justo. Nullam at pulvinar lorem.
  </div>
</div>
