<div id='contact-info-container' class="col-md-offset-2 col-md-3 col-sm-12 ">
  <div class='contact-info-block'>
    <h2>Darbo laikas</h2>
    <ul>
      <li>I – V nuo 8.00 – 20.00 val.</li>
      <li>VI – nuo 8.00 – 17.00 val. </li>
    </ul>
  </div>
  <div class='contact-info-block'>
    <h2>El. paštas</h2>
    <ul>
      <li>info@kirpykla.lt</li>
      <li>kirpykla.kaune@gmail.com</li>
    </ul>
  </div>
  <div class='contact-info-block'>
    <h2>Telefonai</h2>
    <ul>
      <li>(8 37) 751280</li>
      <li>+370 655 34400</li>
    </ul>
  </div>
  <div class='contact-info-block'>
    <h2>Adresas</h2>
    <ul>
      <li>Studentų g. 48A, Kaunas</li>
    </ul>
  </div>
</div>
<div id="contact-map" class="col-md-7 col-sm-12">
    <iframe width="600" height="450" frameborder="0" style="border:0" allowfullscreen src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2293.8680302437406!2d23.9576678!3d54.905238499999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e7187b9978bfc1%3A0xa19173da10302cfb!2sKTU+E-learning+Technology+Center+%2F+KTU+E-Learning+Technology+Center!5e0!3m2!1sen!2slt!4v1538316383360"></iframe>
</div>