<header>
  <a id="logo" href="#">LOGO</a>
  <div id="nav-links">
    <a class="nav-link" routerLink="/">PAGRINDINIS</a>
    <a class="nav-link" routerLink="/rezervacija">REZERVACIJA</a>
    <a class="nav-link" routerLink="/kainos">KAINOS</a>
    <a class="nav-link" routerLink="/kontaktai">KONTAKTAI</a>
    <!-- <a class="nav-link" (click)="login()" routerLink="http://localhost:3000/auth/google">PRISIJUNGTI</a> -->
    <a class="nav-link" href="http://localhost:3000/auth/google">PRISIJUNGTI</a>
  </div>
</header>